
body{
    font-family: 'Eurostile', sans-serif;
}
.signup {
  padding: 25px;
  margin: 100px auto;
  width: 300px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup h1 {
display: flex;
justify-content: center;
}

.signup input {
width:300px;
height: 20px;
margin-top: 15px;
}

#signup-button {
margin-left: 40px;
margin-top: 20px;
padding: 8px;
background-color: #121035;
color: white;
border-radius: 5px;
cursor: pointer;

}
#login-button {
background-color: #121035;
margin-top: 20px;
margin-left: 113px;
color: white;
padding: 8px;
cursor: pointer;
border-radius: 5px;
}

.login {
padding: 25px;
margin: 100px auto;
width: 300px;
background-color: white;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login h1 {
display: flex;
justify-content: center;
}

.login input {
width:300px;
height: 20px;
margin-top: 15px;
}

#login-b {
margin-left: 40px;
margin-top: 20px;
padding: 8px;
background-color: #121035;
color: white;
border-radius: 5px;
cursor: pointer;

}
#signup-b {
background-color: #121035;
margin-top: 20px;
margin-left: 113px;
color: white;
padding: 8px;
cursor: pointer;
border-radius: 5px;
}